:root {
    --java: #ed0811;
    --c: #9816a7;
    --email:#4B3AD1;
    --php: #6586bd;
    --python1:#39719c;
    --python2: #ffce41;
    --javascript: #f7e025;
    --spring: #6db33f;
    --express: #4e4e4e;
    --bootstrap: #7818f7;
    --tailwind: #3ebff8;
    --sql:#08bcf0;
    --nosql: #08ee69;
    --react: #58c4dc;
    --vue1: #46ba86;
    --vue2: #3a4e63;
    --html: #f06931;
    --css: #30abe1;
    --sass: #ce6b9c; 
    --white: #ffffff;
    --black: #111111;
    --code-header-footer: #6E6E5E40;
    --hamburguer-navigation: #95d6da;
    --background-light: #98CCD120;
    --navbar-text: #154d3c;
    --navbar-text-hover: #4c03ca;
    --desription: #CDC5BC85;
    --logo2: #111111;
    --header-footer-env: #45D134;
    --description-card-env: #2A7B9B30;

    /* Dark mode */
    --background-dark: #12121A;
    --logo1-dark: #C3DBDE;
    --navbar-dark: #E9F2F5;
    --text-dark: #F2E8FF;
    --description-dark: #6FB1BD85;
    --hamburguer-nav-dark: #1C535C;
}

body {
    background-color: var(--background-light);
}

@media (max-width: 768px) {
    body {
        min-height: 110vh;
    }
}

@font-face {
    font-family: jetbrains;
    src: url(./assets/JetBrainsMono-SemiBoldItalic.woff2);

}
@font-face {
    font-family: poppins-regular;
    src: url(./assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold-italic;
    src: url(./assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(./assets/Poppins-Regular.ttf);
}

a, h1, h2, p, li {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-position: inside;
}

footer {
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 0px;
}

.footer-text {
    text-align: center;
    padding-top: 1.8%;
}

@media (max-width: 768px) {
    footer {
        position: relative;
        /* bottom: -12%; */
    }

    .footer-text{
        padding-top: 2.5%;
    }
}

/* Navigation */
.hamburguer-menu {
    display: none;
}

.burguer {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: var(--black);
    transform-origin: 4px;
    transition: all 0.1s linear;
    margin-top: 4px;
}

@media (max-width: 768px) {
    .hamburguer-menu {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
        z-index: 100;
        margin-right: 5px;
        height: 1.5rem;
    }

    .navigation-list-normal {
        transform: translate(-16.5%, 0);
    }
}

@media (max-width: 425px) {
    .navigation-list-normal {
        transform: translate(0%, 0);
    }
}

.navigation .navigation-list-normal {
    display: flex;
    flex-direction: column;
    background-color: var(--hamburguer-navigation);
    height: 98.2vh;
    width: 9.82rem;
    margin-top: 39px;
    position: absolute;
    margin-left: -12vh;
    opacity: 95%;
    z-index: 100;
}

@media (max-width: 768px) {
    .navigation .navigation-list-none {
        display: none;
    }
}

.burguer1 {
    transform: rotate(45deg);
}

.burguer2 {
    opacity: 0;
}

.burguer3 {
    transform: rotate(-45deg);
}

.text-navbar {
    color: var(--navbar-text);
    font-weight: bolder;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
}

.text-navbar:hover {
    transform: scale(1.1);
    color: var(--navbar-text-hover);
}

@media (max-width: 768px) {
    .text-navbar {
        transform-origin: left center;
    }
}

/* Service list */
.service-list {
    border-style: solid;
    border-radius: 10%;
    padding: 20px;
}

@media (min-width: 768px) {
    .service-list {
        border-radius: 10px;
        width: 1rem;
        padding: 15px;
        width: 50%;
        transform: translate(35%, 0%);
    }
}

/* Code */
.logo {
    font-family: jetbrains;
    font-size: 25px;
    padding: 0 8px;
    text-decoration: none;
    color: var(--black);
    z-index: 10;
}

.header-code, .footer-code {
    background-color: var(--code-header-footer);
}

.hello {
    margin-left: 2rem;
    width: 70%;
}

.photo {
    max-width: 18%;
    margin-top: 2%;
    margin-right: 22px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .photo {
        display: none;
    }
    
    .hello {
        margin-left: 8rem;
    }

    .dark-light-icon {
        height: 30px;
        width: 80px;
    }
}

.container-description, .container-services {
    margin: 1.7rem 0;
}

.services-title {
    margin-left: -5rem;
}

.container-services {
    height: 71vh;
}

.description {
    margin: 3rem 5rem 4rem 5rem;
    padding: 20px 45px;
    font-size: 15px;
    background-color: var(--desription);
    border-radius: 15px;
}

@media (max-width: 768px) {
    .description {
        margin: 1rem 2.5rem 2rem 2.5rem;
    }
}

.description-content {
    line-height: 150%;
}

.contact-container {
    height: 71vh;
    margin-top: 3rem;
}

.contact {
    margin-top: -10px;
}

.title {
    margin-bottom: 1.2rem;
}

.email {
    color: var(--email);
}

.knowledge {
    font-weight: bold;
    -webkit-text-stroke: 0.3px var(--black);
}

.c-sharp {
    color: var(--c);
}

.java {
    color: var(--java);
}

.php {
    color: var(--php);
}

.python1 {
    color: var(--python1);
}

.python2 {
    color: var(--python2);
}

.javascript {
    color: var(--javascript);
}

.spring {
    color: var(--spring);
}

.express {
    color: var(--express);
}

.sql {
    color: var(--sql);
}

.nosql {
    color: var(--nosql);
}

.react {
    color: var(--react);
}

.vue1 {
    color: var(--vue1);
}

.vue2 {
    color: var(--vue2);
}

.html {
    color: var(--html);
}

.css {
    color: var(--css);
}

.sass {
    color: var(--sass);
}

.bootstrap {
    color: var(--bootstrap);
}

.tailwind {
    color: var(--tailwind);
}

/* Environmental */
.logo2 {
    font-family: poppins-regular;
    font-size: 25px;
    padding: 0 8px;
    text-decoration: none;
    color: var(--logo2);
    z-index: 10;
}

.fuente_code {
    font-family: jetbrains;
}

@media (min-width: 768px) {
    .fuente_code {
    font-family: jetbrains;
    border-right: 6px solid;
    margin-bottom: -6px;
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow: hidden;

    animation-iteration-count: 2;

    animation: 
        typing 4s steps(14) forwards 2,
        cursor 17s step-end forwards;
    }

    /* Typing effect */
    @keyframes typing {
        from { width: 0;}
    }

    /* cursor blinking */
    @keyframes cursor {
        50% { border-color: transparent;}
        100% { border-color: transparent;}
    }
}

.header-env, .footer-env {
    background-color: var(--header-footer-env);
}

.hero-img {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("./assets/background_end.webp");
    height: 30vh;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
}

.hero-text-title {
    font-family: poppins-bold-italic;
    text-transform: uppercase;
    color: var(--white);
    -webkit-text-stroke: 1px var(--black);
    text-align: center;
    position: absolute;
    transform: translate(0%, 60%);
}

@media (max-width: 768px) {
    .hero-text-title {
        transform: translate(25%, 15%);
        width: 70%;
        font-size: 1.8rem;
    }
}

@media (max-width: 425px) {
    .hero-text-title {
        transform: translate(0%, 35%);
        width: 100%;
        font-size: 1.8rem;
    }
}

@media (max-width: 375px) {
    .hero-text-title {
        transform: translate(0%, 19%);
        width: 100%;
        font-size: 1.5rem;
    }

    .hero-img {
        height: 25vh;
    }
}

.description-card {
    margin: 3rem Auto 2.5rem;
    display: flex;
    width: 65%;
    text-align: justify;
    background: var(--description-card-env);
    background: linear-gradient(270deg,rgba(42, 123, 155, 0.5) 0%, rgba(87, 199, 133, 0.6) 50%);
    padding: 35px 25px 25px;
    border-style: solid;
    border-radius: 15px;
}

.description-text {
    font-size: 15px;
}

/* Dark mode */
/* Developer */
body.dark {
    background-color: var(--background-dark);
}

body.dark .logo {
    color: var(--logo1-dark);
}

body.dark .burguer{
    background-color: var(--navbar-dark) ;
}

body.dark .text-navbar{
    color: var(--navbar-dark) ;
}

body.dark .text-navbar:hover{
    color: var(--css) ;
}

body.dark .hello, p , li, .services-title, .title {
    color: var(--text-dark);
}

body.dark .description{
    background-color: var(--description-dark);
}

body.dark .navigation-list-normal{
    background-color: var(--hamburguer-nav-dark);
}

/* Environmental */
body.dark .header-env{
    background-color: #10380F;
}

body.dark .header-env, .footer-env{
    background-color: #10380F;
}

body.dark .logo2 {
    color: var(--navbar-dark);
}

body.dark .description-card {
    background: linear-gradient(90deg,rgba(30, 28, 46, 1) 0%, rgba(15, 15, 84, 1) 29%, rgba(0, 179, 0, 0.52) 100%);
}

body.dark .description-card, .service-list {
    border-color: var(--text-dark);
}

/* body.dark .services-title {
    color: linear-gradient(90deg,rgba(30, 28, 46, 1) 0%, rgba(15, 15, 84, 1) 29%, rgba(0, 179, 0, 0.52) 100%);
} */

